body{
    background-color:cadetblue;
    margin: 10px;
    padding:0;
}
p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:2em;
}
a:visited{color:rgb(255, 15, 15);
}
a:hover{
    font-size:5em;
}